body {
  margin: 0;
}
.alert-list {
  background-color: #F0F0F0;
  /* width: 320px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px;
  /* justify-content: space-between; */
}
.alert-div {
  background-color: white;
  border: 1px solid black;
  width: 280px;
  /* flex-direction: row;
  justify-content: center; */

  margin: 5px;
  /* padding: 0 10px; */
}
.alert-thumb {
  width: 100px;
  height: 100px;
}
.alert-type {
  background-color: #bada55;
}
.button {
  margin: 15px;
  border: 1px solid black;
}
.error {
  color: red;
  border-color: red;
}
.nav {
  margin: 15px;
}

.nav a:hover, .nav .active {
  color: #fff;
  background: #3b80d1;
}
